//Font-family
$base-font-family: 'Raleway', sans-serif;

//Font-weight
$base-font-weight: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

//Font-size
$base-font-size: (16 / 16) * 1rem;
$font-size-sm: (14 / 16) * 1rem;
$font-size-xs: (12 / 16) * 1rem;
$font-size-lg: (18 / 16) * 1rem;

//Padding
$base-padding: (16 / 16) * 1rem;

//Margin
$base-margin: (16 / 16) * 1rem;

//Color
$white-color: #ffffff;
$primary-color: #6E3BB7;
$success-color: #3ecd44;
